/as3\examples\simple example/bin
/as3\examples\simple example\bin/Clusteranalysis.swf
/as3\examples\simple example\bin/expressInstall.swf
/as3\examples\simple example\bin/index.html
/as3\examples\simple example\bin\js/swfobject.js
